
@font-face{
    font-family: "Montserrat Bold";
    src: url("fonts/Montserrat-Bold.ttf");
  }
@font-face{
    font-family: "Montserrat";
    src: url("fonts/Montserrat-Regular.ttf");
  }
  @font-face{
    font-family: "Montserrat Medium";
    src: url("fonts/Montserrat-Medium.ttf");
  }
  @font-face{
    font-family: "Montserrat ExtraBold";
    src: url("fonts/Montserrat-ExtraBold.ttf");
  } 
  @font-face{
    font-family: "Montserrat SemiBold";
    src: url("fonts/Montserrat-SemiBold.ttf");
  }
.right{
  float: right;
}
body{
    font-family: "Montserrat";
    margin-bottom: 40px;
  }
.leaflet-container {
    height: 400px;
    width: 100%;
}
.column h2, h3{
  font-family: "Montserrat";
  font-weight: normal;
}

.column h1{
  margin-bottom:0px;
}
.App-header {
  background-color: white;
  display: flex;
  justify-content: center;
}

.App-title {
  cursor: pointer;
}

.App-logo {
  height: 40px;
}

.Name{
  position: absolute;
  bottom: 55%;
  left: 20px;
}
.Name h2{
  margin-bottom: 0px;
  font-family: "Montserrat Bold";
  color: white;
  text-shadow: 2px 2px 4px #AD1349;
  margin-top: 10px;
}
.Name h2 em{
  font-size: .8em;
}

.navigation .item{
  margin-right: 20px;
  color: #DB3B60;
  text-decoration: none;
}
.navigation .item:hover{
color: #FFB6C1;
}
.navigation{
  background-color: #FFF2F2;
  padding: 40px;
}
.Examples-Container {
  display: flex;
}
h1{
  font-size: 4em;
  font-family: "Montserrat Bold";
  color: #DB3B60;
  line-height:1em;
  width: 90%;
  margin-right: 0px;
}

a{
  text-decoration: none;
  color: #DB3B60;
}
p{
  letter-spacing: .001em;
}
.home a:hover{
  background-image: -webkit-linear-gradient(left, white 50%, rgb(255, 228, 233) 50%);
  background-image: linear-gradient(to right,white 50%, rgb(255, 228, 233) 50%);
  background-position: -100%;
  background-size: 200%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
button{
  outline: none;
  border-radius: 25px;
   margin-left: 10px;
    background-color: transparent; /* Green */
    border: none;
    color: #DB3B60;
    padding: 8px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
/* hover styles */
button:hover{
  color: #FFB6C1;
}

p a:hover{
    background-image: -webkit-linear-gradient(left, white 50%, rgb(255, 228, 233) 50%);
    background-image: linear-gradient(to right,white 50%, rgb(255, 228, 233) 50%);
    background-position: -100%;
    background-size: 200%;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
  
}
h2 a:hover{
  background-image: -webkit-linear-gradient(left, white 50%, rgb(255, 228, 233) 50%);
  background-image: linear-gradient(to right,white 50%, rgb(255, 228, 233) 50%);
  background-position: -100%;
  background-size: 200%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
h3 a:hover{
  background-image: -webkit-linear-gradient(left, white 50%, rgb(255, 228, 233) 50%);
  background-image: linear-gradient(to right,white 50%, rgb(255, 228, 233) 50%);
  background-position: -100%;
  background-size: 200%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.enter{
  font-size: 2em;
}

.body{
  margin-top: 40px;
  margin-left: 120px;
  margin-right: 120px;
  margin-bottom: 120px;
}
/* TestCard 2019 Page */
.card2019 .Description{
  margin-bottom: 25px;
} 
.card2019 .bigcard{
  border-style: dashed;
  border-width: 3px;
}
/* TestCard 2020 Page */

.bigcard{
  border-width: 3px;
  border-radius: 15px;
  border-style:  solid;
  width: 450px;
  margin-right: 40px;
  padding-bottom: 0px;
  position: relative;
  border-color: #FF2457;
  margin-bottom:0px;
}

.bigcard:hover{
  border-color: #FFB6C1;
  color: #FFB6C1;
}

.Description{
  margin-top: 20px;
  padding-left:10px;
  padding-right:10px;
  color: darkred;
  overflow: hidden;
}

.Description p{
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
  width: 350px;
}
/* clamp styles */
.clamp-lines {
  border-radius: .25em;
  font-family: sans-serif;
  margin: 1em;
}

.clamp-lines > span {
  display: block;
}

/* clamp custom styles */


.clamp-lines.custom-class .clamp-lines__button {
  border: 1px solid transparent;
    display: block;
  margin: .75em auto 0;
  padding: .5em;
  text-align: center;
  transition: all .2s linear;
  width: 100%;
}

.cardimage img{
  border-radius: 12px 12px 0px 0px;
  opacity: .9;
  width: 500px;
}
.cardimage{
  background:#DB3B60;
  border-radius: 12px 12px 0px 0px;
  height: 250px;
  margin-bottom: 5px;
  overflow: hidden;
}
.bigcard {
  width: 360px;
  margin-bottom: 25px;
  margin-right: 8px;
  margin-left: 8px;
}
.row{
  width: 100%;
  display: flex;
  flex-direction: row;
}

.gallery .row{
  flex-wrap: wrap;
  justify-content: center;
  align-items:center;
}
.body.row{
  flex-wrap: wrap;
}
.row a{
  margin-right: 15px;
}
/* 2020 Page Borderbox */

#box {
  align-items: center;
  justify-content: center;
  padding: 20px 20px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}
.gradient-border {
  --borderWidth: 4px;
  background: #FFF2F2;
  position: relative;
  border-radius: var(--borderWidth);
}
.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #fec3e0,#ff77b9, #ff1f8f, #ff4ef9, #ff07f7);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}


@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* 2020 Page */
.Description2020{
  margin-top:20px;
}
.filterlist{
  font-family: "Montserrat ExtraBold";
  margin-bottom: 20px;
  letter-spacing: 1.5px;

}
.filterlist button{
  letter-spacing: 1.5px;
  font-family: "Montserrat ExtraBold";
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #DB3B60;
  display: inline-block;
  background-color: transparent;
  color: #DB3B60;
  border-radius: 25px;
  padding-top:5px;
  padding-bottom:5px;
  padding-right: 0px;
  font-size: 32px;
}
#Visual.active {
  -webkit-text-fill-color: pink;
  text-shadow: 
  2px 2px #ff1f8f;
}
#Game.active{
  -webkit-text-fill-color: pink;
  text-shadow: 
  2px 2px #ff1f8f;
}#Data.active{
  -webkit-text-fill-color: pink;
  text-shadow: 
  2px 2px #ff1f8f;
}#World.active{
  -webkit-text-fill-color: pink;
  text-shadow: 
  2px 2px #ff1f8f;
}#All.active{
  -webkit-text-fill-color: pink;
  text-shadow: 
  2px 2px #ff1f8f;
}
#Text.active{
  -webkit-text-fill-color: pink;
  text-shadow: 
  2px 2px #ff1f8f;
}
#Sound.active{
  -webkit-text-fill-color: pink;
  text-shadow: 
  2px 2px #ff1f8f;
}
#Educational.active{
  -webkit-text-fill-color: pink;
  text-shadow: 
  2px 2px #ff1f8f;
}
#Teaching.active{
  -webkit-text-fill-color: pink;
  text-shadow: 
  2px 2px #ff1f8f;
}
#Simulation.active{
  -webkit-text-fill-color: pink;
  text-shadow: 
  2px 2px #ff1f8f;
}
#Tool.active{
  -webkit-text-fill-color: pink;
  text-shadow: 
  2px 2px #ff1f8f;
}
#Camera.active{
  -webkit-text-fill-color: pink;
  text-shadow: 
  2px 2px #ff1f8f;
}
.filterlist button:hover{
  -webkit-text-fill-color: pink;
  display: inline-block;
  color: #DB3B60;
  text-shadow: 
  2px 2px #ff1f8f;
  padding-top:5px;
  padding-bottom:5px;
  transition: all .3s;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;

}

.filterlist h2{
  -webkit-text-fill-color: #FFF2F2;
  font-size:32px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #FF2457;
  text-shadow: 
  2px 2px #ff1f8f;
  display: inline-block;
  margin-bottom: 10px;
  margin-top: 10px;
}
.intro2020 h1{
  text-align: center;
  font-family: "Montserrat ExtraBold";
  font-weight: bolder;
  font-size:72px;
	letter-spacing:0.1em;
  -webkit-text-fill-color: #FFF2F2;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #FF2457;
  color: white;
  text-shadow: 
    2px 2px #fec3e0,
    4px 4px #ff77b9,
    6px 6px #ff1f8f;
  margin-bottom: 20px;
  margin-right:0px;
}
.cover2020{
  margin-top: 80px;
  margin-bottom: 140px;
}
.cover2020 h1{
  font-family: "Montserrat ExtraBold";
  font-weight: bolder;
  font-size:4em;
	letter-spacing:0.1em;
  -webkit-text-fill-color: #FFF2F2;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #FF2457;
  color: white;
  margin-top:0px;
  text-shadow: 
    2px 2px #fec3e0,
    4px 4px #ff77b9,
    6px 6px #ff1f8f;
}
.intro2020 p{
  margin: 0px;
  color:#ff8ba6;
  text-align: center;
}
.flex p em{
  margin-top: 20px;
  color:#ff8ba6;
}
.column{
  flex: 50%;
}
.flex{
  display: flex;
}
/* 2020 visualization */
.twentyviz h1{
  font-family: "Montserrat";
  font-size: 54px;
}
.twentyviz h1 a{
float:right;
}
.twentyviz a:hover{
  background-image: -webkit-linear-gradient(left, white 50%, rgb(255, 228, 233) 50%);
  background-image: linear-gradient(to right,white 50%, rgb(255, 228, 233) 50%);
  background-position: -100%;
  background-size: 200%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.twentyviz button{
  font-size:1.5em;
  font-family: Montserrat;
}
.twentyviz button:hover{
  background-image: -webkit-linear-gradient(left, white 50%, rgb(255, 228, 233) 50%);
  background-image: linear-gradient(to right,white 50%, rgb(255, 228, 233) 50%);
  background-position: -100%;
  background-size: 200%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  color: #DB3B60;

}
/* card 2020 */
.Name2020{
  position: absolute;
  top: 5%;
  left: 10px;
}
.Name2020 h2{
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #DB3B60;
  font-size: 1.45em;
  margin-bottom: 0px;
  font-family: "Montserrat ExtraBold";
  margin-top: 10px;
  -webkit-text-fill-color: white;
  text-shadow: 
  2px 2px #ff1f8f;
}
.Name2020 a:hover{
  -webkit-text-fill-color: pink;
}
.Name2020 h2 em{
  font-size: .8em;
}

.links{
  text-align: center;
}
.links a{
border: #FF2457;
  border-bottom-style: solid;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 70px;
  padding-right: 70px;
  margin:0px;
  margin-top: 0px;
}
.links a:first-child{
  border-right-style: solid;
  padding-left: 75px;
}
.links a:hover{
  color:white;
  background-color: #FFB6C1;
}
.tags {
  margin: 0px;
  display:inline-block;
  padding: 0px;
  overflow: auto;
  white-space: nowrap;
  width: 350px;
}
.tags ul{
  list-style:none;
  display: inline-block;
  margin:0px;
  padding:0px;
}
.tags li{
  padding: 0px;
  margin-top: 0px;
  margin-bottom:10px;
  margin-left: 10px;
  max-height: 30px;
  display: inline-block;
  color: transparent;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  padding-left: 0px;
  padding-right: 0px;
}
.tags a:hover{
  background-color:#FFB6C1;
  color:white;
}
.tags a{
  font-size: 14px;
  padding: 6px 14px;
  overflow: wrap;
  background-color: #ffe8e8;
  border-radius: 26px;
  margin-left: 0px;
  margin-right: 0px;
}

/* About Page */
.home p{
  width: 85%;
  margin-left: 70px;
  line-height: 1.5em;
  display: inline-block;
  margin-top: 15px;
}
.home h1{
  display: inline-block;
  margin-bottom: 0px;
  margin-top: 10px;
  font-size: 3.5em;
}
.home{
  margin-top: 80px;
  margin-left: 130px;
}
.home img{
  height: 100%;
  max-height: 70px;
  width: 100%;
  max-width: 70px;
  margin-right: 10px;
}
/* Details Page */
.detailsbody p{
  font-size: 16px;
  white-space: pre-line;
  line-height: 1.6;

}
.detailsbody{
  margin-top: 40px;
  margin-left:90px;
  margin-right: 90px;
  margin-bottom: 120px;
}
.detailsbody h3{
  margin-top: 0px;
  margin-bottom: 0px;
}
.col{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.details-image{
  width: 475px;
  height: auto;
  margin-right: 40px;
}
.details-image img{
  width: 475px;
  height: auto;
  margin-right: 40px;
  margin-bottom: 40px;
  border-radius: 25px;
  border: dotted  #DB3B60;;
  padding: 5px;
}
.detailsbody h1{
  font-size: 48px;
  font-family: "Montserrat Medium";
  margin-bottom: 10px;
}
.detailsbody h2{
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  font-family: "Montserrat";
}
.QnA h2{
  margin-top: 40px;
}
.detailsbody{
  font-size: 18px;
}
.small{
  font-size: 16px;
  font-style: italic;
}
.center{
  text-align: center;
  margin-top: 20px;
}

@media (max-width: 900px) {
  .body{
    margin-left: 20px;
    margin-right: 20px;  }
  .detailsbody{
    margin-left: 20px;
  margin-right: 20px;
  }
  .details-image img{
    margin-right: 0px;
    margin-left: 0px;
    max-width: 100%;
  }
  .detailsbody .row{
    flex-wrap: wrap;
  }
  .detailsbody h1{
    margin-top: 20px;
  }
  .home{
    margin-top: 30px;
    margin-left: 20px;
  }
  .gallery h1{
    width: 100%;
  }
  .home p{
    width: 100%;
  }
  .home p{
    margin-left: 0px;
  }
  .right{
    float: left;
  }
}