@import "~antd/dist/antd.css";

@font-face{
    font-family: "Montserrat Bold";
    src: url("fonts/Montserrat-Bold.ttf");
  }
@font-face{
    font-family: "Montserrat";
    src: url("fonts/Montserrat-Regular.ttf");
  }
  @font-face{
    font-family: "Montserrat Medium";
    src: url("fonts/Montserrat-Medium.ttf");
  }
.right{
  text-align: right;
}
body{
    font-family: "Montserrat";
    margin-bottom: 40px;
  }

.App-header {
  background-color: white;
  display: flex;
  justify-content: center;
}

.App-title {
  cursor: pointer;
}

.App-logo {
  height: 40px;
}

.Name{
  position: absolute;
  bottom: 30%;
  left: 20px;
}
.Name h2{
  margin-bottom: 0px;
  font-family: "Montserrat Bold";
  color: white;
  text-shadow: 2px 2px 4px #DB3B60;
}

p {
  font-size: 24px;
}
.navigation .item{
  margin-right: 20px;
  color: #DB3B60;
}
.navigation .item:hover{
  color: lightskyblue;
}
.navigation{
  background-color: #FFF2F2;
  padding: 40px;
}
.Examples-Container {
  display: flex;
}
h1{
  font-size: 4.5em;
  font-family: "Montserrat Bold";
  color: #DB3B60;
  line-height:1em;
  width: 70%;
}
.home p{
  font-size: 1.5em;
  width: 75%;
}
.enter{
  font-size: 2em;
}
.home1{
  display: flex;
  flex-direction: row;
  margin-top: 80px;
  margin-left: 130px;
}
.home1 img{
  height: 100%;
  max-height: 150px;
  width: 100%;
  max-width: 150px;
}
.body{
  margin-top: 40px;
  margin-left: 120px;
  margin-right: 120px;
  margin-bottom: 120px;
}
/* TestCard Page */

.bigcard{
  width: 450px;
  margin-right: 40px;
  padding-bottom: 20px;
  position: relative;
  border-radius: 25px;
  border-style:  dotted;
  border-width: thick;
  border-color: #DB3B60;
}

.bigcard:hover{
  border-color: #FFB6C1;
}
.cardimage:hover{
  background:#FFB6C1;
}
.Description{
  margin-top: 20px;
  padding-left:10px;
  padding-right:10px;
  color: darkred;
}
.cardimage img{
  border-radius: 25px;
  opacity: .7;
  width: 420px;
}
.cardimage{
  background:#DB3B60;
  border-radius: 25px;
  height: 250px;
  width: 24.4vw;
  overflow: hidden;
}
.bigcard {
  width: 25vw;
  margin-bottom: 25px;
  margin-right: 5px;
  margin-left: 5px;
}
.row{
  width: 100%;
  display: flex;
  flex-direction: row;
}
.gallery .row{
  flex-wrap: wrap;

}
.body.row{
  flex-wrap: wrap;
}
.row a{
  margin-right: 15px;
}
/* Details Page */
.detailsbody p{
  font-size: 16px;
  white-space: pre-line;
}
.detailsbody{
  margin-top: 40px;
  margin-left: 120px;
  margin-right: 120px;
}
.col{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.details-image{
  width: 475px;
  height: auto;
  margin-right: 40px;
}
.details-image img{
  width: 475px;
  height: auto;
  margin-right: 40px;
  margin-bottom: 40px;
}
.detailsbody h1{
  font-size: 48px;
  font-family: "Montserrat Medium";
}
.detailsbody h2{
  font-size: 24px;
  font-family: "Montserrat Medium";
}
.detailsbody{
  font-size: 18px;
}
.small{
  font-size: 16px;
  font-style: italic;
}